{% extends 'base.html' %}
{% load app_filters %}

{% block content %}
	<br><br>

	<div class="ui center aligned container" style="padding-left: 400px; padding-right: 400px;">
		<table class="ui celled red table">
			  <tbody>
					<tr>
						<th>Name of Account Holder:</th>
						<td>{{customer.user.get_full_name}}</td>
					</tr>
					<tr>
						<th>Card Number:</th>
						<td>{{customer.credit_card_number.card_number}}</td>
					</tr>
					<tr>
						<th>Name of Bank:</th>
						<td>{{customer.bank.name}}</td>
					</tr>
					<tr>
						<th>PAN Number:</th>
						<td>{{customer.pan_number}}</td>
					</tr>
			  </tbody>
		</table>
		<br>
		<table class="ui celled red table">
			  <tbody>
					<tr>
						<th>Current Usage:</th>
						<td>Rs. {{customer.account.usage}}</td>
					</tr>
					<tr>
						<th>Funds Remaining:</th>
						<td>Rs. {{diff}}</td>
					</tr>
					<tr>
						<th>Maximum Limit:</th>
						<td>Rs. {{customer.account.max_limit}}</td>
					</tr>
			  </tbody>
		</table>
	</div>

{% endblock %} 