{% extends 'base.html' %}

{% block content %}


	<div class="ui center aligned container">
		<h2 class="ui header">Transaction has been completed successfully!</h2>

		<!-- <b>Merchant Name: </b><p>{{trans.merchant.get_full_name}}</p>
		<b>Customer Name: </b><p>{{trans.customer.get_full_name}}</p> -->
		<b>Amount: </b><p>{{trans.amount}}</p>
		<b>Transaction Date: </b><p>{{trans.date}}</p>

	</div><br>
	<center>
		<h3 class="ui header">You will automatically be redirected....</h3>
	</center>

<script>
    function redirect()
    {
       window.location.href = "/";
    }

    setTimeout(redirect, 4000);
</script>

{% endblock %}