{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="ui center aligned container">

	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3>Change Your Password</h3>
		</div>
		<div class="panel-body">
			<div class="ui center aligned segment">
				<form class="form-horizontal" method="post" enctype='multipart/form-data'>
				{% csrf_token %}
			        <div class="form-group">
			            	<label class="control-label col-sm-4" for="signupPassword"><i class="user secret icon"></i>Current Password</label>
			            	<div class="col-sm-5">
				              	<input id='opass' name="oldpassword" type="password" maxlength="25" class="form-control" placeholder="Enter password here" length="40" required>
				            </div>
			        </div>
			        
			        <div class="form-group">
			            	<label class="control-label col-sm-4 " for="signupPassword"><i class="user secret icon"></i>New Password</label>
			            	<div class="col-sm-5">
				              	<input id='npass' name="newpassword" type="password" maxlength="25" class="form-control" placeholder="At least 6 characters" length="40" required>
				            </div>

			            	<label class="control-label col-sm-4" for="signupPassword"><i class="user secret icon"></i>Repeat New Password</label>
			              	
			              	<div class="col-sm-5">
				              	<input id='renpass' name="renewpassword" type="password" maxlength="25" class="form-control" placeholder="Must match password" length="40" required>
				            </div>
					</div>
					<hr>
					<div class="form-group">
			      		<button id='submitBtn' type="submit" class="ui red button btn-block">
			      			Submit
			      		</button>
			    	</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	if('{{error}}' == 1)
	{
		alert('Wrong Current Password');
	}
	else if('{{error}}' == 2)
	{
		alert('Password Changed Successfully');
		window.location.href = "/";
	}

	$('#npass').on('input', function() {
	    
		p1 = $('#npass').val();
		p2 = $('#renpass').val();

	    if(p1 == p2)
	    {
	    	$('#submitBtn').removeClass('disabled');
	    }
	    else
	    {
		    $('#submitBtn').addClass('disabled');	
	    }
	});

	$('#renpass').on('input', function() {
	    
		p1 = $('#npass').val();
		p2 = $('#renpass').val();

	    if(p1 == p2)
	    {
	    	$('#submitBtn').removeClass('disabled');
	    }
	    else
	    {
		    $('#submitBtn').addClass('disabled');	
	    }
	});
</script>

{% endblock %}